<div>
  <div class="navbar navbar-expand-lg" data-bs-theme="dark" style="background: #1c1c1c;  border-bottom: 1px solid #ffffff;
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ff0000, 0 0 4px #ffffff;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" routerLinkActive="active"><img
              src="assets/DALL·E%202023-07-30%2014.07.03%20-%20Logo%20%20E%20minimalistic.png" alt="ELIAS" width="40"
              height="40"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navToggler"
              >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navToggler">

        <ul class="navbar-nav me-auto my-1 mb-2 mb-lg-0">
          <li class="nav-item my-1">
            <a class="nav-link" routerLink="/patrimonio" routerLinkActive="active">Patrimônio</a>
          </li>
          <li class="nav-item my-1">
            <a class="nav-link" routerLink="/marca" routerLinkActive="active">Marca</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
